body {
    font-family: 'Raleway', sans-serif;
    margin: 3px 0 0 0;
}

button {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1440px;
}

/* LOGO */

#logo {
    padding: 0 2rem;
}

/* FIN LOGO */

/* MENU */

nav {
    display:flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    text-align: center;
    font-weight: 500;
}

.linkpad {
    padding: 2rem;
}

nav li a {
    color: black;
}

nav li a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.signup {
    text-align: center;
    color: #0065FC;
    font-weight: 600;
}

/* FIN MENU */

/* FIN HEADER */

/* SECTION DE RECHERCHE */

#searchsection {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 2rem;
}

/* TITRE ET SOUS TITRE*/

#searchsection h1 {
    font-size: 2rem;
    margin-bottom: 0.4rem;
}

#soustitre {
    margin: 0 0 1rem 0;
}

/* FIN DE TITRE ET SOUS TIRE*/

/* BARRE DE RECHERCHE*/

#search {
    display: flex;
    text-align: center;
}

#search .positionicon {
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
	border: 1px solid #F2F2F2;
    padding: 1rem 1.25rem;
    text-decoration:none;
}

#search input {
    padding: 0 1em;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

#search #textrecherche {
    background-color:#0065FC;
    border-radius: 0 1rem 1rem 0;
	border: 1px solid #0065FC;
	cursor: pointer;
    color:white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: 0 1rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
}

#search #iconrecherche {
    display: none;
}

#search input:focus {
    outline: none
}

button:focus {
    outline: none;
}

/* FIN BARRE DE RECHERCHE */

/* FILTRES */

#filter {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* TITRE FILTRE */

#filter h3 {
    margin: 0 2rem 1rem 0;
}

/* FIN TITRE FILTRE */

/* BOUTTON FILTRE */

.filtereffect {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #F2F2F2;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* ICONE BOUTTON FILTRE */

.filtereffect i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    margin: -2px;
    color: #0065FC;
}
/* FIN ICONE BOUTTON FILTRE */

/* TEXT FILTRE */

.filtereffect p {
    cursor: pointer;
    font-weight: bold;
    border: none;
    margin: 0 1rem;
}

/* FIN TEXT FILTRE*/

/* EFFET BOUTTON FILTRE */

.filtereffect:hover {
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

.filtereffect:focus {
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

/* FIN EFFET BOUTTON FILTRE */

/* FIN BOUTTON FILTRE */

/* NOMBRE RESULTAT */

/* ICON RESULTAT */

#info {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

/* ICON RESULTAT */

#iconinfo i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    margin: 0 1rem 0 0;
}

#info i {
    color: #0065FC;
}

/* FIN ICON RESULTAT */

/* TEXT RESULTAT */

#info p {
    margin: 0;
}

/* FIN TEXT RESULTAT */

/* FIN NOMBRE RESULTAT */

/* MAIN */

main {
    margin: auto;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 2rem;
}

/* SECTION 1 + ASIDE */
#sectionaside {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* SECTION 1 */

#section1 {
    background: #F2F2F2;
    border-radius: 1rem;
    flex-basis: 68%;
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    
}

/* TITRE SECTION1 */

#section1 h2 {
    margin: 1rem;
}

/* GROUPE DE VIGNETTES SECTION 1 */

#groupevignettes {
    display: flex;
    flex-wrap: wrap;
}

#groupevignettes a {
    flex-basis: 33.33%;
    justify-content: center;
}

/* VIGNETTES SECTION 1 */

#section1 .vignette {
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 16px gray;
    cursor: pointer;
    box-sizing: border-box;
    height: 12rem;
    margin: 1rem;
}

/* IMAGE VIGNETTE SECTION 1 */

#section1 img {
    height: 7rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
}

/* FIN IMAGE VIGNETTE SECTION 1 */

/* TEXT VIGNETTE SECTION 1 */

.textvignette {
    margin-left: 0.5rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.textvignette strong {
    font-weight: 500;
}
 
#section1 .textvignette h4 {
    margin: 0.3rem 0 0 0;
}

#section1 p {
    margin: 0.3rem 0;
    font-size: 0.8rem;
    font-weight:normal;
}
/* ETOILE VIGNETTE SECTION 1*/

.start {
    color:#F2F2F2;
}

.rated {
    color: #0065FC;
    font-size: 0.8rem;
}

/* FIN ETOILE VIGNETTE SECTION 1 */

/* FIN TEXT VIGNETTE SECTION 1 */ 

/* FIN VIGNETTE SECTION 1 */ 

/* FIN GROUPE DE VIGNETTE SECTION 1 */

/* AFFICHER PLUS SECTION 1 */


.linkplus {
    color: black;
    margin: 3.5rem 0 0 1rem;
    font-weight: bold;
}

/* FIN AFFICHER PLUS SECTION 1 */

/* ASIDE */

aside {
    background: #F2F2F2;
    border-radius: 1rem;
    flex-basis: 30%;
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
}

#titreicone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titreicone i {
    margin: 1rem;
    font-size: 1.5rem;
}

/* TITRE ASIDE */

aside h2 {
    margin: 1rem;
}

/* FIN TITRE ASIDE */

/* GROUPE DE VIGNETTES ASIDE */

#groupevignettes2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#groupevignettes2 a {
    flex-basis: 100%;
    justify-content: center;
    width: 100%;
}

/* VIGNETTES ASIDE */

aside .vignette {
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 16px gray;
    cursor: pointer;
    box-sizing: border-box;
    margin: 1rem;
    height: 9.5rem;
    flex-basis: 100%;
    display:flex;
}

/* IMAGE VIGNETTE ASIDE */

aside .vignette img {
    height: 100%;
    width: 10rem;
    display: block;
    object-fit: cover;
    border-radius: 1rem 0rem 0rem 1rem;
}

/* FIN IMAGE VIGNETTE ASIDE */

/* TEXT VIGNETTE ASIDE */
aside .textvignette {
    margin: 0.5rem 0 0.5rem 0.5rem;
}

aside .textvignette h4 {
    margin: 0;
}

aside .textvignette p {
    margin: 0.3rem 0;
    font-size: 0.8rem;
    font-weight:normal;
}

/* ETOILE VIGNETTE ASIDE */

.start {
    color:#F2F2F2;
}

.rated {
    color: #0065FC;
}

/* FIN ETOILE VIGNETTE ASIDE */

/* FIN TEXT VIGNETTE ASIDE */

/* FIN VIGNETTES ASIDE */

/* FIN GROUPE DE VIGNETTES ASIDE */

/* FIN DU ASIDE */

/* DEBUT SECTION 2 */

#section2 {
    width: 100%;
}

/* GROUPE VIGNETTE SECTION 2 */

#groupevignettes3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.big {
    margin: 0.5rem;
}

.grande {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.petite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.doublepetit {
    margin: 0.5rem;
}

.souspetit1  {
    margin-bottom: 0.5rem;
}

.souspetit2 {
    margin-top: 0.5rem;
}

/* TITRE SECTION 2 */

#section2 h2 {
    margin: 1rem;
}

/* FIN TITRE SECTION 2 */

/* VIGNETTE SECTION 2 */

#section2 .vignette2 {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 16px gray;
    cursor: pointer;
    box-sizing: border-box;
}

/* TEXT VIGNETTE SECTION 2*/

#section2 h4 {
    color: black;
}

/* GRANDE VIGNETTE SECTION 2 */

#section2 .grande {
    height: 100%;
    width: 19rem;
}
/* FIN GRANDE VIGNETTE SECTION 2 */

/* GRANDE IMAGE VIGNETTE SECTION 2*/

.petite .imgvignette2 {
    height: 69%;
}

.grande .imgvignette2 {
    height: 85%;
}

#section2 .grande img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/* FIN GRANDE IMAGE VIGNETTE SECTION 2*/

/* PETITE VIGNETTE SECTION 2 */

.doublepetit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#section2 .petite {
    height: 15rem;
    width: 20rem;
}

/* FIN PETITE VIGNETTE SECTION 2 */

/* PETITE IMAGE VIGNETTE SECTION 2 */

#section2 .petite img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/* FIN PETITE IMAGE VIGNETTE SECTION 2 */

/* TEXT VIGNETTE SECTION 2 */

#section2 .textvignette2 h4 {
    margin: 1rem;
}

/* FIN TEXT VIGNETTE SECTION 2 */

/* FIN VIGNETTE SECTION 2 */

/* FIN GROUPE VIGNETTE SECTION 2 */

/* FIN SECTION 2*/

/* FOOTER */ 

footer {
    background-color: #F2F2F2;
    margin-top: 3rem;
}

/* FOOTER CONTENT */

#footercontent {
    margin: auto;
    max-width: 1440px;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
}

/* FOOTER TEXT */

footer p {
    font-weight: bold;
}

/* FIN FOOTER TEXT*/

/* FOOTER LIST */

footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 0.5rem 0;
}

footer a {
    color: black;
}

.footer {
    margin-right: 10rem;
    flex-basis: 33%;
}

/* FIN FOOTER LIST */

/* --FIN DU FOOTER-- */


/* MEDIA */


@media screen and (max-width: 1392px) {

    #groupevignettes3 {
        justify-content: space-between;
    
    }

    #groupevignettes3 a {
        display: flex;
        justify-content: center;
    }

    .doublepetit {
        flex-basis: 30%;
    }

    .doublepetit2 {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        justify-content: center;
    }
    .petite {
        flex-basis: 100%;
    }

    .big {
        flex-basis: 30%;
    }

    .grande {
        flex-basis: 100%;
    }

    .doublepetit2 a {
        flex-basis: 50%;
    }

    .souspetit3  {
        margin: 0.5rem 0.5rem 0.5rem 0;
    }

    .souspetit4  {
        margin: 0.5rem 0 0.5rem 0.5rem;
    }

}

@media screen and (max-width: 1234px) {

    #section1 {
        order: 2;
        flex-basis: 100%;
    }

    #groupevignettes {
          justify-content: space-evenly;
    }

    #groupevignettes a {
        display: flex;
        flex-basis: 33.33%;
        justify-content: center;
    }

    .vignette {
        flex-basis: 100%;
    }

    aside {
        order: 1;
        flex-basis: 100%;    
    }

    #groupevignettes2 {
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: wrap;
    }

    #groupevignettes2 .imgvignette {
        flex-basis:50%;
        min-width: 50%;
    }

    #groupevignettes2 .imgvignette img{
        width: 100%;

    }
    
    .souspetit3  {
        margin: 0.5rem 0 0.5rem 0.5rem;
    }

    .souspetit4 {
        margin: 0.5rem 0 0.5rem 0.5rem;
    }


    .footer {
        margin-right: 5rem;
    }
}

@media screen and (max-width: 1064px) {

    .doublepetit a {
        flex-basis: 50%;
    }

    .doublepetit {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        justify-content: center;
    }
    .big {
        flex-basis: 100%;
        height: 15rem;
    }

    #groupevignettes2 a {
        flex-basis: 100%;
    }

    .souspetit1  {
        margin: 0.5rem 0.5rem 0.5rem 0;
    }

    .souspetit2 {
        margin: 0.5rem 0 0.5rem 0.5rem;
    }

    .grande .imgvignette2 {
        height: 75%;
    }

    .petite .imgvignette2 {
        height: 75%;
    }  

    .footer {
        margin-right: 2rem;
    }

}

@media screen and (max-width: 882px) {  


    #section1 {
        background: white;
        padding: 0;
        margin: 0 2rem;
    }

    #groupevignettes {
        flex-wrap: wrap;
    }

    #groupevignettes a {
        flex-basis: 50%;
    }

    #section1 .imgvignette {
        flex-basis: 50%;
    }
    
    #section1 .textvignette p {
        margin: 0;
    }


    aside {
        border-radius: 0;
        padding: 0 2rem 2rem 2rem;
    }

    main {
        padding: 0;
    }

    #groupevignettes3 {
        margin: 0 2rem;
    }

    .linkplus {
        margin: 1rem;
    }

}

@media screen and (max-width: 755px) {  

    #groupevignettes {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .doublepetit {
        flex-wrap: wrap;
    }

    .doublepetit a {
        flex-basis: 100%;
    }

    .souspetit1  {
        margin: 0 0 0.5rem 0;
    }

    .souspetit2 {
        margin: 0.5rem 0 0 0;
    }

    .souspetit3  {
        margin: 0 0 0.5rem 0;
    }

    .souspetit4 {
        margin: 0.5rem 0 0 0;
    }

}  

@media screen and (max-width: 750px) {
    #footercontent {
        display: block;
    }
}

@media screen and (max-width: 620px) {

    #logo  {
        position: absolute;
        align-self:flex-start;
        padding: 1rem 2rem 2rem 2rem; 
    }
    nav {
        display: flex;
        flex-direction: column-reverse;
        flex-basis: 100%;
        align-items: flex-end;
    }

    nav ul {
        width: 100%;
        flex-grow: 1;
        align-self: center;
        margin: 2rem 0;
    }

    nav ul li {
        flex-basis: 100%;
        display: flex;
    }
    li .linkpad {
            padding: 1rem;
            flex-basis: 100%;
            border-bottom: 3px solid #F2F2F2;
    
    }

    li .linkpad:hover {
        border-top: none;
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }

    #filter h3 {
        flex-basis: 100%;
    }

    #search #textrecherche {
        display: none;
    }
    
    #search #iconrecherche {
        display: block;
        background-color:#0065FC;
        border-radius: 0 1rem 1rem 0;
        border: 1px solid #0065FC;
        cursor: pointer;
        color:white;
        text-decoration: none;
        font-weight: bold;
        border: none;
        padding: 0 1rem;
        font-family: "Raleway", "Sans serif";
        font-size: 1rem;
    }

    #searchsection h1{
        font-size: 1.4rem;
    }

    #searchsection p {
        font-size: 1rem;
    }

    #search input {
       width: 95%;
    }

    .doublepetit {
        flex-basis: 100%;
    }


    #groupevignettes2 {
        margin: 0;
    }

    
    #groupevignettes3 {
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
    }
    
    #section1 {
        margin: 0;
    }

    aside {
        margin: 0 0 1rem 0;
        padding: 1rem 0 1rem 0;
    }

    #section2 {
        margin-top: 3rem;
    }

    .big {
        min-width: 20rem;
    }

    .linkplus {
        margin: 1rem;
    }

    .footer {
        margin: 0;
    }
}

/* FIN MEDIA QUERY */