body {
    font-family: 'Raleway', sans-serif;
    margin: 3px 0 0 0;
}

button {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1440px;
}

/* LOGO */

#logo {
    padding: 0 2rem;
}

/* FIN LOGO */

/* MENU */

nav {
    display:flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    text-align: center;
    font-weight: 500;
}

.linkpad {
    padding: 2rem;
}

nav li a {
    color: black;
}

nav li a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.signup {
    text-align: center;
    color: #0065FC;
    font-weight: 600;
}

/* FIN MENU */

/* FIN HEADER */

/* SECTION DE RECHERCHE */

#searchsection {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 2rem;
}

/* TITRE ET SOUS TITRE*/

#searchsection h1 {
    font-size: 2rem;
    margin-bottom: 0.4rem;
}

#soustitre {
    margin: 0 0 1rem 0;
}

/* FIN DE TITRE ET SOUS TIRE*/

/* BARRE DE RECHERCHE*/

#search {
    display: flex;
    text-align: center;
}

#search i {
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
	border: 1px solid #F2F2F2;
    padding: 1rem 1.25rem;
    text-decoration:none;
}

#search input {
    padding: 0 1em;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    font-size: 1rem;
}

#search button {
    background-color:#0065FC;
    border-radius: 0 1rem 1rem 0;
	border: 1px solid #0065FC;
	cursor: pointer;
    color:white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: 0 1rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
}

#search input:focus {
    outline: none
}

button:focus {
    outline: none;
}

/* FIN BARRE DE RECHERCHE */

/* FILTRES */

#filter {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* TITRE FILTRE */

#filter h2 {
    margin: 0 2rem 1rem 0;
}

/* FIN TITRE FILTRE */

/* BOUTTON FILTRE */

.filtereffect {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #F2F2F2;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* ICONE BOUTTON FILTRE */

.filtereffect i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    margin: -2px;
}
/* FIN ICONE BOUTTON FILTRE */

/* TEXT FILTRE */

.filtereffect p {
    cursor: pointer;
    font-weight: bold;
    border: none;
    margin: 0 1rem;
}

/* FIN TEXT FILTRE*/

/* EFFET BOUTTON FILTRE */

.filtereffect:hover {
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

.filtereffect:focus {
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

/* FIN EFFET BOUTTON FILTRE */

/* FIN BOUTTON FILTRE */

/* NOMBRE RESULTAT */

/* ICON RESULTAT */

#info {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

/* ICON RESULTAT */

#iconinfo i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    margin: 0 1rem 0 0;
}

#info i {
    color: #0065FC;
}

/* FIN ICON RESULTAT */

/* TEXT RESULTAT */

#info p {
    margin: 0;
}

/* FIN TEXT RESULTAT */

/* FIN NOMBRE RESULTAT */

/* MAIN */

main {
    margin: auto;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 2rem;
}
/* SECTION 1 + ASIDE */
#sectionaside {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* SECTION 1 */

#section1 {
    padding-left: 1rem;
    background: #F2F2F2;
    border-radius: 1rem;
    flex-basis: 65%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

/* TITRE SECTION1 */

#section1 h3 {
    margin: 1rem;
}

/* GROUPE DE VIGNETTES SECTION 1 */

#groupevignettes {
    display: flex;
    flex-wrap: wrap;
}

/* VIGNETTES SECTION 1 */

#section1 .vignette {
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 16px gray;
    cursor: pointer;
    box-sizing: border-box;
    height: 12rem;
    width: 16.3rem;
    margin: 1rem;
}

/* IMAGE VIGNETTE SECTION 1 */

#section1 img {
    height: 7rem;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

/* FIN IMAGE VIGNETTE SECTION 1 */

/* TEXT VIGNETTE SECTION 1 */

.textvignette {
    margin-left: 0.8rem;
    color: black;
}

.textvignette strong {
    font-weight: 500;
}
 
#section1 .textvignette h4 {
    margin: 0.3rem 0 0 0;
}

#section1 p {
    margin: 0.3rem 0;
    font-size: 0.8rem;
    font-weight:normal;
}
/* ETOILE VIGNETTE SECTION 1*/

.start {
    color:#F2F2F2;
}

.rated {
    color: #0065FC;
    font-size: 0.8rem;
}

/* FIN ETOILE VIGNETTE SECTION 1 */

/* FIN TEXT VIGNETTE SECTION 1 */ 

/* FIN VIGNETTE SECTION 1 */ 

/* FIN GROUPE DE VIGNETTE SECTION 1 */

/* AFFICHER PLUS SECTION 1 */


.linkplus {
    color: black;
    margin: 2rem 0 0 1rem;
    font-weight: bold;
}

/* FIN AFFICHER PLUS SECTION 1 */

/* ASIDE */

aside {
    background: #F2F2F2;
    border-radius: 1rem;
    flex-basis: 30%;
    margin-bottom: 1rem;
}

/* TITRE ASIDE */

aside h3 {
    margin: 1rem 1rem 1rem 2rem;
}

/* FIN TITRE ASIDE */

/* GROUPE DE VIGNETTES ASIDE */

#groupevignettes2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* VIGNETTES ASIDE */

aside .vignette {
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 16px gray;
    cursor: pointer;
    box-sizing: border-box;
    margin: 1rem;
    height: 9.5rem;
    width: 22rem;
    display:flex;
}

/* IMAGE VIGNETTE ASIDE */

.vignette img {
    height: 100%;
    width: 10rem;
    display: block;
    object-fit: cover;
    border-radius: 1rem 0rem 0rem 1rem;
}

/* FIN IMAGE VIGNETTE ASIDE */

/* TEXT VIGNETTE ASIDE */

aside .textvignette h4 {
    margin: 0;
}

aside .textvignette p {
    margin: 0.3rem 0;
    font-size: 0.8rem;
    font-weight:normal;
}

/* ETOILE VIGNETTE ASIDE */

.start {
    color:#F2F2F2;
}

.rated {
    color: #0065FC;
}

aside .notation {
    margin-top: 3rem;
}
/* FIN ETOILE VIGNETTE ASIDE */

/* FIN TEXT VIGNETTE ASIDE */

/* FIN VIGNETTES ASIDE */

/* FIN GROUPE DE VIGNETTES ASIDE */

/* FIN DU ASIDE */

/* DEBUT SECTION 2 */

#section2 {
    width: 100%;
}

/* GROUPE VIGNETTE SECTION 2 */

#groupevignettes3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* TITRE SECTION 2 */

#section2 h3 {
    margin: 2rem;
}

/* FIN TITRE SECTION 2 */

/* VIGNETTE SECTION 2 */

#section2 .vignette2 {
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 1rem;
    box-shadow: 0 0 16px #F2F2F2;
}
/* GRANDE VIGNETTE SECTION 2 */

#section2 .grande {
    height: 450px;
    width: 300px;
}
/* FIN GRANDE VIGNETTE SECTION 2 */

/* GRANDE IMAGE VIGNETTE SECTION 2*/

#section2 .grande img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 388px;
    object-fit: cover;
    width: 100%;
}

/* FIN GRANDE IMAGE VIGNETTE SECTION 2*/

/* PETITE VIGNETTE SECTION 2 */

.doublepetit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#section2 .petite {
    height: 200px;
    width: 300px;
}

/* FIN PETITE VIGNETTE SECTION 2 */

/* PETITE IMAGE VIGNETTE SECTION 2 */

#section2 .petite img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 140px;
    object-fit: cover;
    width: 100%;
}

/* FIN PETITE IMAGE VIGNETTE SECTION 2 */

/* TEXT VIGNETTE SECTION 2 */

#section2 .textvignette2 h4 {
    margin: 1rem;
}

/* FIN TEXT VIGNETTE SECTION 2 */

/* FIN VIGNETTE SECTION 2 */

/* FIN GROUPE VIGNETTE SECTION 2 */

/* FIN SECTION 2*/

/* FOOTER */ 

footer {
    background-color: #F2F2F2;
    margin-top: 3rem;
}

#footercontent {
    margin: auto;
    max-width: 1440px;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
}

footer p {
    font-weight: bold;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 0.5rem 0;
}

footer a {
    color: black;
}

.footer {
    margin-right: 10rem;
    flex-basis: 33%;
}

/* --FIN DU FOOTER-- */
